---
layout: default
title: Jonathan Sick
---

<div class="index-wrapper">
  <section class="index-ephemera-section">
    <header>
    <h1 class="utility-header">Commonplace Book</h1>
    </header>
    {% for post in site.posts limit:20 %}
      {% if post.type == 'cpb' %}
        <article>
          <header>
            <h1 class="zeta no-trailer"><a href="{{ post.url }}">{{ post.title }}</a></h1>
          </header>
          <aside>
            <p><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
          </aside>
        </article>
      {% endif %}
    {% endfor %}
  </section>
  <section class="index-articles-section">
    <header>
    <h1 class="utility-header">Articles</h1>
    </header>
    {% for post in site.posts %}
     {% if post.type == 'article' %}
        <article class="index-article-item">
          <header>
            <h1 class="zeta no-trailer">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h1>
          </header>
          <p><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
        </article>
      {% endif %}
    {% endfor %}
  </section>
</div>
