// Styling the page headers
.page-header-outer-wrapper {
    background-color: $rev-background-color;
    @include padding-leader(1);
}
.page-header {
    color: $rev-font-color;
}
.page-header-lede {
    @include skolar-bold-italic;
    @include adjust-font-size-to(1.6rem, 1);
    @include trailer(0);
    @include leader(1);
}

.page-header {
    a:link, a:visited {
        @include unstyled-link;
        color: $rev-link-color;
        @include transition(color 0.1s linear);
        &:hover {
            color: $rev-hover-color;
        }
        &:active, &:focus {
            color: $rev-hover-color;
            outline: none;
        }
    }
}
.header-nav {
    @include horizontal-list(1em);
    @include museo-slab-700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
