// Susy grid layout

// Base grid settings (mobile-first)
$total-columns : 6;

// Grid settings for tablet/desktop
$break-columns : 10;

$susy: (
    // the basics
    columns: $total-columns,
    // gutters: 1em / 4em,  // gutter width / column-width
    gutters: 0.5, // ratio of gutter width to column width
    column-width: 4em,

    // advanced
    container: false,
    math: fluid,
    flow: ltr,
    debug: (
        image: show,
        color: rgba(#66f, .25),
        output: background,
        toggle: top right,
    ),
);

@mixin container-margin {
    padding: 0 0.5rem;
}

@import "partials/layout-header";
@import "partials/layout-home";
@import "partials/layout-article";
