// Typographic styling

$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: 'rem';
@include establish-baseline();


// The font size for html is our root (rem) font size
html {
    font-size: $base-font-size;
}
body {
    @include debug-vertical-alignment();
    @include rem(font-size, 1rem);
    line-height: $base-line-height;
    @include skolar;
    color: $base-font-color;
    background-color: $background-color;
    -webkit-font-smoothing: antialiased;
    @include hyphenation;
}

.no-hyphen {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
}

h1, .alpha {
    @include museo-slab-1000;
    @include adjust-font-size-to(3rem, 2);
}

h2, .beta {
    @include museo-slab-1000;
    @include adjust-font-size-to(1.7rem, 2);
}

h3, .gamma {
    @include museo-slab-1000;
    @include adjust-font-size-to(1.5rem, 2);
}

h4, .delta {
    @include museo-slab-1000;
    @include adjust-font-size-to(1.3rem, 2);
}

h5, .epsilon {
    @include rem(font-size, 1.1rem);
    @include museo-slab-1000;
    @include adjust-font-size-to(1.1rem, 2);
}

h6, .zeta {
    @include museo-slab-1000;
    @include adjust-font-size-to(1rem, 2);
}

p {
    @include adjust-font-size-to(1rem, 1);
}

a:link, a:visited {
    color: $base-link-color;
    text-decoration: underline;
    @include transition(color 0.1s linear);

    &:hover {
        color: $hover-link-color;
    }

    &:active, &:focus {
        color: $hover-link-color;
        outline: none;
    }
}

hr {
    border-top: none;
    border-right: none;
    border-left: none;
    // margin: $base-line-height 0;
    border-bottom: 1px solid $base-border-color;
}

abbr, acronym {
    border-bottom: 1px dotted $base-border-color;
    cursor: help;
}

address {
    display: block;
    // margin: 0 0 ($base-line-height * .5);
}

del {
    color: lighten($base-font-color, 15%);
}

blockquote {
    border-left: 2px solid $base-border-color;
    color: lighten($base-font-color, 15%);
    font-style: italic;
    // margin: $base-line-height 0;
    padding-left: $base-line-height * .5;
}

cite {
    font-style: italic;
    font-size: smaller;
    color: lighten($base-font-color, 25%);

    &:before {
        content: '\2014 \00A0';
    }
}

strong {
    font-weight: bolder;
}

pre, code {
    @include source-code-pro-regular;
}

// Navigation ===============================================================
.page-header {
    a:link, a:visited {
        @include unstyled-link;
        color: $rev-link-color;
        @include transition(color 0.1s linear);
        &:hover {
            color: $rev-hover-color;
        }
        &:active, &:focus {
            color: $rev-hover-color;
            outline: none;
        }
    }
}
.header-nav {
    @include horizontal-list(1em);
    @include museo-slab-700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
