// Typographic styling

$base-font-size: 16px;
$line-height-ratio: 1.5;
$base-line-height: $line-height-ratio * $base-font-size / 16px;
$rem-ratio: $base-font-size / 1rem;

// Utility mixin for sizing in rem with px fallback
// http://stackoverflow.com/questions/6927007/how-do-you-remove-units-of-measurement-from-a-sass-mixin-equation
// Usage: rem(font-size,14px)
@mixin rem($key, $px) {
    #{$key}: $px;
    #{$key}: $px / $rem-ratio;
}

// The font size for html is our root (rem) font size
html {
    font-size: $base-font-size;
}
body {
    @include rem(font-size, $base-font-size);
    line-height: $base-line-height;
    @include skolar;
    color: $base-font-color;
    background-color: $background-color;
    -webkit-font-smoothing: antialiased;
    @include hyphenation;
}

.no-hyphen {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

// Vertical rythm using rems and margin-bottom¬
// https://github.com/csswizardry/hry.rbrts.me/blob/master/css/style.css#LC152
// http://csswizardry.com/2011/12/measuring-and-sizing-uis-2011-style/
h1,h2,h3,h4,h5,h6,article,p,ul,ol,dl,table,,nav,pre,.page-header-wrapper {
    @include rem(margin-bottom, $line-height-ratio * $base-font-size);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}

h1, .alpha {
  @include rem(font-size, 2.4 * $base-font-size);
  @include museo-slab-1000;
}

h2, .beta {
  @include rem(font-size, 1.7 * $base-font-size);
  @include museo-slab-1000;
}

h3, .gamma {
  @include rem(font-size, 1.5 * $base-font-size);
  @include museo-slab-1000;
}

h4, .delta {
  @include rem(font-size, 1.3 * $base-font-size);
  @include museo-slab-1000;
}

h5, .epsilon {
  @include rem(font-size, 1.1 * $base-font-size);
  @include museo-slab-1000;
}

h6, .zeta {
  @include rem(font-size, $base-font-size);
  @include museo-slab-1000;
}

p {
  font-size: $base-font-size;
}

a:link, a:visited {
  color: $base-link-color;
  text-decoration: underline;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-top: none;
  border-right: none;
  border-left: none;
  // margin: $base-line-height 0;
  border-bottom: 1px solid $base-border-color;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  // margin: 0 0 ($base-line-height * .5);
}

del {
  color: lighten($base-font-color, 15%);
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15%);
  font-style: italic;
  // margin: $base-line-height 0;
  padding-left: $base-line-height * .5;
}

cite {
  font-style: italic;
  font-size: smaller;
  color: lighten($base-font-color, 25%);

  &:before {
    content: '\2014 \00A0';
  }
}

strong {
  font-weight: bolder;
}

pre, code {
    @include source-code-pro-regular;
}

// Navigation ===============================================================

.header-nav {
    @include horizontal-list(1em);
    @include museo-slab-700;
    text-transform: uppercase;
    a {
        @include unstyled-link;
        color: $base-link-color;
    }
    letter-spacing: 0.1em;
}
