// Typographic styling

$base-font-size: 18px;
$base-line-height: 30px;
$rhythm-unit: 'rem';
@include establish-baseline();


// The font size for html is our root (rem) font size
html {
    font-size: $base-font-size;
}
body {
    // @include debug-vertical-alignment();
    @include skolar;
    @include rem(font-size, 1rem);
    color: $base-font-color;
    background-color: $background-color;
    -webkit-font-smoothing: antialiased;
    @include hyphenation;
}

.no-hyphen {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}
.no-trailer {
    @include trailer(0);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
}

h1, .alpha {
    @include museo-slab-1000;
    @include adjust-font-size-to(3rem, 2);
    @include trailer(1);
}

h2, .beta {
    @include museo-slab-1000;
    @include adjust-font-size-to(1.7rem, 2);
    @include trailer(1);
}

h3, .gamma {
    @include museo-slab-1000;
    @include adjust-font-size-to(1.5rem, 2);
    @include trailer(1);
}

h4, .delta {
    @include museo-slab-1000;
    @include adjust-font-size-to(1.3rem, 1);
    @include trailer(1);
}

h5, .epsilon {
    @include rem(font-size, 1.1rem);
    @include museo-slab-1000;
    @include adjust-font-size-to(1.1rem, 2);
    @include trailer(1);
}

h6, .zeta {
    @include skolar;
    @include adjust-font-size-to(1rem, 1);
}
.utility-header {
    @include museo-slab-900;
    @include adjust-font-size-to(0.8rem, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    @include trailer(1);
}

p {
    @include adjust-font-size-to(1rem, 1);
    @include trailer(1);
}

a:link, a:visited {
    color: $base-link-color;
    text-decoration: underline;
    @include transition(color 0.1s linear);

    &:hover {
        color: $hover-link-color;
    }

    &:active, &:focus {
        color: $hover-link-color;
        outline: none;
    }
}

hr {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $base-border-color;
}

abbr, acronym {
    border-bottom: 1px dotted $base-border-color;
    cursor: help;
}

address {
    display: block;
}

del {
    color: lighten($base-font-color, 15%);
}

blockquote {
    border-left: 2px solid $base-border-color;
    color: lighten($base-font-color, 15%);
    font-style: italic;
    padding-left: $base-line-height * .5;
}

cite {
    font-style: italic;
    font-size: smaller;
    color: lighten($base-font-color, 25%);

    &:before {
        content: '\2014 \00A0';
    }
}

strong {
    font-weight: bolder;
}

pre, code {
    @include source-code-pro-regular;
    @include adjust-font-size-to(0.95rem, 1);
}
pre {
    @include trailer(1);
}

.post-aside p {
    @include adjust-font-size-to(0.8rem, 1);
    @include trailer(0);
    color: $soft-font-color;
}
.post-aside {
    @include leader(0);
    @include trailer(1);
}
.post-header {
    @include trailer(1);
}
.post-subtitle {
    @include leader(-1);
    @include trailer(0);
    @include skolar-bold-italic;
    @include adjust-font-size-to(1.3rem, 1);
    color: $soft-font-color;
}

// Hiding text for screen-readers, maintains outline

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
