// Global variable definititions
///////////////////////////////////////////////////////////////////////////////

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$dark-gray: #333;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Flat UI Colors
// http://flatuicolors.com/#
// greens
$turquoise: #1abc9c;
$emerald: #2ecc71;
$nephritis: #27ae60;
$greensea: #16a085;
// blues
$peterriver: #3498db;
$belizehole: #2980b9;
// yellows and oranges
$sunflower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
// reds
$alizarin: #e74c3c;
$pomegranate: #c0392b;
// purples
$amethyst: #9b59b6;
$wisteria: #8e44ad;
// whites
$clouds: #ecf0f1;
$silver: #bdc3c7;
// medium grays
$concrete: #95a5a6;
$asbestos: #7f8c8d;
// dark grays
$wetasphalt: #34495e;
$midnightblue: #2c3e50;

//  Font Colors
$base-font-color: $midnightblue;
$background-color: $clouds;

//  Text Link Colors
$base-link-color: $belizehole;
$hover-link-color: darken($base-link-color, 15%);

// Reverse colour scheme (light on dark)
$rev-background-color: $pomegranate;
$rev-font-color: $clouds;
$rev-link-color: $clouds;
$rev-hover-color: darken($rev-link-color, 15%);

// Border color
$base-border-color: $asbestos;
