<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>J.Sick: {{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" media="screen, projection" href="/assets/css/screen.css" type="text/css" />
</head>
<body>
  {% include header.html %}
  <article class="post-article">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-subtitle">{{ page.subtitle }}</p>
    </header>
    <aside class="post-aside">
      <time>{{ page.date }}</time>
    </aside>
    <section class="post-content">
      {{ content }}
    </section>
  </article>
  {% include footer.html %}
</body>
</html>
